{{ define "_rooms" }}
<table class="deb-tbl">
  <thead>
    <tr>
      <th id="ref-ttl" colspan="3" class="mega-ttl" title="Refresh">Rooms<span>&#x27F3;</span></th>
    </tr>
    <tr>
      <th style="width:33.33%">RoomId</th>
      <th style="width:33.33%">TalkersLen</th>
      <th style="width:33.33%">TrackLocalsLen</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Rooms }}
    <tr>
      <td>{{ .RoomID }}</td>
      <td>{{ .TalkersLen }}</td>
      <td>{{ .TrackLocalsLen }}</td>
    </tr>
    {{ template "_tracks" . }}
    {{ template "_users" . }}
    {{ end }}
  </tbody>
</table>
{{ end }}
