{{ define "title" }}Debug opachat{{ end }}
{{ define "styles" }}
<link rel="stylesheet" type="text/css" href="/static/css/elems/deb.css" />
{{ end }}
{{ define "content" }}
{{ $ler := (len .Rooms) }}
<div id="deb-cont">
  {{ if eq $ler 0 }}
    <div id="ref-ttl" class="no-sessions" title="Refresh">No meetings<span>&#x27F3;</span></div>
  {{ else }}
    {{ template "_rooms" . }}
  {{ end }}
</div>
{{ end }}
{{ define "scripts" }}
<script src="/static/js/inc/funcs.js"></script>
<script src="/static/js/elems/deb.js"></script>
{{ end }}
