#deb-cont {
  width: 100%;
  padding: 10px;
}

.no-sessions {
  width: 100%;
  font-size: 20px;
  line-height: 22px;
  color: #a7a7a7;
  background-color: #272727;
  text-align: center;
  border-radius: 10px;
}

.deb-tbl {
  width: 100%;
}

.deb-tbl .deb-tbl {
  background-color: #f7f7f7;
}

.deb-tbl th,
.deb-tbl td {
  font-size: 14px;
  line-height: 16px;
  padding: 5px 10px 5px 10px;
  border-color: #373737;
  border-style: solid;
  border-width: 1px;
  vertical-align: middle;
}

.deb-tbl td.hita {
  color: #00aaff;
  cursor: pointer;
}

.deb-tbl td.hita.se {
  color: #ff9933;
}

.deb-tbl th {
  position: relative;
  font-weight: normal;
  color: #b7b7b7;
  background-color: #272727;
  text-align: left;
}

.deb-tbl .mega-ttl {
  text-align: center;
  color: #fff;
  font-weight: 500;
}


#ref-ttl {
  cursor: pointer;
  padding: 10px;
}

#ref-ttl.no-sessions {
  padding: 20px 0;
}

#ref-ttl:hover {
  background-color: #202020;
}

#ref-ttl span {
  display: inline-block;
  margin-left: 7px;
  color: #ff9933;
}

.deb-tbl td {
  position: relative;
  color: #e7e7e7;
  background-color: #171717;
}

.deb-tbl td.td-cen {
  text-align: center;
  line-height: 0;
}

.deb-tbl td.td-cen span {
  display: inline-block;
  background-color: #fff;
  border: 5px solid #2b5de5;
  width: 15px;
  height: 15px;
  line-height: 0;
  border-radius: 50%;
}

.deb-tbl td.td-cen span.neg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  background: none;
  border: none;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
}

.deb-tbl td.w-tbl {
  border-width: 0;
}

.deb-tbl td ul {
  font-size: 12px;
  line-height: 14px;
  max-height: 70px;
  overflow-y: auto;
}

.deb-tbl td ul li + li {
  margin-top: 3px;
}
