#deb-cont {
  width: 100%;
  padding: 20px;

}

.deb-tbl {
  width: 100%;
}

.deb-tbl .deb-tbl {
  background-color: #f7f7f7;
}

.deb-tbl th,
.deb-tbl td {
  font-size: 14px;
  line-height: 16px;
  padding: 5px 15px 9px 15px;
  border-color: #d7d7d7;
  border-style: solid;
  border-width: 1px;
  vertical-align: middle;
}

.deb-tbl th {
  position: relative;
  font-weight: normal;
  color: #000;
  background-color: #e7e7e7;
  text-align: left;
}

.deb-tbl td {
  position: relative;
  color: #575757;
}

.deb-tbl td.td-cen {
  text-align: center;
}

.deb-tbl td.td-cen span {
  display: inline-block;
  padding: 0 5px 3px 5px;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  background-color: #2b5de5;
  border-radius: 10px;
}

.deb-tbl td.td-cen span.neg {
  background: none;
  color: #000;
}

.deb-tbl td.w-tbl {
  border-width: 0;
}

.deb-tbl td ul {
  font-size: 12px;
  line-height: 14px;
  max-height: 70px;
  overflow-y: auto;
  background-color: #f0f0f0;
  color: #000;
}

.deb-tbl td ul li + li {
  margin-top: 3px;
}
